.demo {
  pointer-events: none;

  position: absolute;
  z-index: 100;
  right: 1rem;
  bottom: 4rem;

  padding: 0.4rem;

  list-style: none;

  opacity: 0.75;
  background-color: #fff;
  box-shadow: 0 0 0.3rem 0.1rem #000;
}

.demo > dt {
  font-weight: 500;
}

.demo > dd {
  margin-inline-start: 1.5rem;
}
